<div class="hidden-xs hidden-sm" ng-controller="demoCtrl">
    <div class="landing-all">
        <div scroll-bookmark="home" class="landing" ng-controller="mingiAsiCtrl">
            <div class="col-md-5 landing--banner" ng-controller="scrollController">
                <div ng-class="{'test': ctrl.language == 'et' || ctrl.language == 'en' ? '' : 'russianTextFix'}"
                     class="hero-text russianTextFix">
                    <h1>{{oneArray.LANDINGTITLE1}}</h1>
                    <div class="yellow">
                        <p>{{oneArray.LANDINGMESSAGE}}</p>
                    </div>
                    <h1>{{oneArray.LANDINGTITLE2}}</h1>
                </div>
                <a scroll-to-bookmark="introduction" class="col-md-12">{{ 'LANDINGBUTTON2' | translate }} <i
                        class="arrow right"></i></a>

                <!--  <a>
                      <img class="mousescroll" src="img/mousescroll.png">
                  </a>-->


            </div>
            <div class="col-md-7">
                <nav class="navbar" ng-controller="navBarCtrl">

                    <div class="navbar-header">

                        <a ng-if="$root.language === 'et'" class="navbar-brand" scroll-to-bookmark="home"><img id="logo" src="img/est-logo.svg"/></a>
                        <a ng-if="$root.language !== 'et'" class="navbar-brand" scroll-to-bookmark="home"><img id="logo" src="img/logo.svg"/></a>
                    </div>
                    <div ng-click="toggleSideMenu()" class="three col" id="burger">
                        <div class="hamburger" id="hamburger-8">
                            <span class="line"></span>
                            <span class="line"></span>
                            <span class="line"></span>
                        </div>
                    </div>

                </nav>
                <div ng-controller="scrollController">
                    <button class="request" scroll-to-bookmark="contact">{{ 'LANDINGBUTTON1' | translate }} <i
                            class="arrow right"></i></button>
                </div>
            </div>
            <img class="frontPageChar" src="img/worker.svg">
            <img class="skyscraper" src="img/skyscraper.png">
        </div>
    </div>
    <div class="gradient--banner">
    </div>
    <div class="sideMenu" ng-controller="sideMenuCtrl" ng-show="sidemenu">
        <div class="col-md-12">
            <div class="row">
                <nav class="navbar navbar-inverse navbar-fixed-top" id="sidebar-wrapper" role="navigation">

                    <ul ng-controller="anchorCtrl" class="nav sidebar-nav fadein fadeout">
                        <a class="close" ng-click="hide()"></a>
                        <li>
                            <a scroll-to-bookmark="home">{{ 'SIDEMENUHOME' | translate }}</a>
                        </li>
                        <li>
                            <a scroll-to-bookmark="introduction">{{ 'SIDEMENUINTRO' | translate }}</a>
                        </li>
                        <li>
                            <a scroll-to-bookmark="team">{{ 'SIDEMENUCREW' | translate }}</a>
                        </li>
                        <li>
                            <a scroll-to-bookmark="references">{{ 'SIDEMENUPROJECTS' | translate }}</a>
                        </li>
                        <li>
                            <a scroll-to-bookmark="partners">{{ 'SIDEMENUPARTNERS' | translate }}</a>
                        </li>
                        <li>
                            <a scroll-to-bookmark="contact">{{ 'SIDEMENUCONTACT' | translate }}</a>
                        </li>
                        <div class="nav-info">
                            <a>+372 7366019</a>
                            <br>
                            <a>info@elektrosystem.ee</a>
                        </div>
                        <div class="lang-nav" ng-controller="mingiAsiCtrl">
                            <button ng-click="lang('et')">Et</button>
                            <button ng-click="lang('en')">En</button>
                            <button ng-click="lang('ru')">Ru</button>
                        </div>
                    </ul>
                </nav>
            </div>

        </div>
    </div>
    <div class="sideMenuOverlay" ng-show="sidemenuOverlay" ng-controller="sideMenuOverlayCtrl" ng-click="hideOverlay()">
    </div>

    <div scroll-bookmark="introduction" class="introduction">
        <div id="introduction" class="col-md-5">
            <div class="intro-text">
                <h1 class="col-md-12">{{ 'SIDEMENUINTRO' | translate }}</h1>
                <p class="col-md-12 intro-paragraph">{{oneArray.INTROTEXT}}</p>
            </div>
        </div>

        <div class="col-md-7 bulbs">
        </div>
        <div class="col-md-6 col-md-offset-4 intro-back" ng-controller="introSelect">
            <div class="row image-row">
                <div class="col-md-6 left-intro">
                    <img ng-show="introleft" ng-mouseover="introright = false"
                         ng-mouseleave="introright = true"
                         class="col-md-4 col-md-offset-4 intro-pics pirn" src="img/Pirn.png"/>
                    <div class="col-md-12 inspect i-pirn text-center">
                        <div class="col-md-12">
                            <h1>
                                {{oneArray.INTROSUBHEADING1}}
                            </h1>
                        </div>
                        <div class="col-md-12">
                            <p>{{oneArray.INTROSUBTEXT1}}</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 left-intro">
                    <img ng-show="introright" ng-mouseover="introleft = false"
                         ng-mouseleave="introleft = true"
                         class="col-md-4 col-md-offset-4 intro-pics kilp"
                         src="img/Kilp.png"/>
                    <div class="col-md-12 inspect i-kilp">
                        <div class="col-md-12">
                            <h1>
                                {{oneArray.INTROSUBHEADING2}}
                            </h1>
                        </div>
                        <div class="col-md-12 ">
                            <p>{{oneArray.INTROSUBTEXT2}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row image-row">
                <div class="col-md-6 left-intro">
                    <img ng-show="introleft" ng-mouseover="introright = false"
                         ng-mouseleave="introright = true"
                         class="col-md-4 col-md-offset-4 intro-pics moodik"
                         src="img/Moodik.png"/>
                    <div class="col-md-12 inspect i-moodik">
                        <div class="col-md-12">
                            <h1>
                                {{oneArray.INTROSUBHEADING3}}
                            </h1>
                        </div>
                        <div class="col-md-12 ">
                            <p>
                                {{oneArray.INTROSUBTEXT3}}
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 left-intro">
                    <img ng-show="introright" ng-mouseover="introleft = false"
                         ng-mouseleave="introleft = true"
                         class="col-md-4 col-md-offset-4 intro-pics planeerija"
                         src="img/Planeerija.png"/>
                    <div class="col-md-12 inspect i-planeerija">
                        <div class="col-md-12">
                            <h1>
                                {{oneArray.INTROSUBHEADING4}}
                            </h1>
                        </div>
                        <div class="col-md-12">
                            <p>
                                {{oneArray.INTROSUBTEXT4}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div scroll-bookmark="team" class="team">
        <div class="col-md-12">
            <div class="team-info col-md-8">
                <h1 class="col-md-12">
                    {{ 'SIDEMENUCREW' | translate }}
                </h1>
                <p class="col-md-12">
                    {{oneArray.CREWTEXT}}
                </p>
            </div>
            <div class="people col-md-4">
                <div class="col-md-12 person">
                    <h3 class="col-md-12">{{oneArray.CREWNAME1}}</h3>
                    <img class="name-pics1" src="img/Char_grey.png">
                    <p class="col-md-12">{{oneArray.CREWPOS1}}</p>
                    <p class="col-md-12">{{oneArray.CREWMAIL1}}</p>
                </div>
                <div class="col-md-12 person">
                    <h3 class="col-md-12">{{oneArray.CREWNAME2}}</h3>
                    <img class="name-pics" src="img/Char_fists.png">
                    <p class="col-md-12">{{oneArray.CREWPOS2}}</p>
                    <p class="col-md-12">{{oneArray.CREWMAIL2}}</p>
                </div>
                <div class="col-md-12 person">
                    <h3 class="col-md-12">{{oneArray.CREWNAME3}}</h3>
                    <img class="name-pics2" src="img/dude.png">
                    <p class="col-md-12">{{oneArray.CREWPOS3}}</p>
                    <p class="col-md-12">{{oneArray.CREWMAIL3}}</p>
                </div>
            </div>
        </div>
    </div>
    <div scroll-bookmark="references" class="references">
        <div ng-controller="projectController">
            <div class="gallery cf">
                <div class="image-holder" ng-repeat="project in projects">
                    <img src="{{project.image}}"/>
                    <h1 class="project-heading col-md-8 col-md-offset-2">{{projectNameList[$index]}}</h1>
                    <button class="project-info col-md-6 col-md-offset-3" ng-click="toggleProjectView($index)">{{
                        'PROJECTSINSPECT' | translate }}
                    </button>
                </div>
            </div>
            <div ng-repeat="project in projects" class="projectView {{project.name}}"
                 ng-show="projectview">
                <a class="close closeProject" ng-click="hideProject()"></a>

                <div class="accordion">
                    <ul>
                        <li class="" ng-repeat="item in globalPictures track by $index">
                            <img src="{{item}}"/>
                        </li>
                    </ul>
                </div>


                <div class="col-md-4 project-pictures">
                    <button ng-click="menuDown()" type="button" class="col-md-12 request-project"
                            aria-label="Left Align">
                        {{ 'PROJECTSMORE' | translate }}
                    </button>
                </div>

                <!---->

                <div class="col-md-8 project-information">
                    <div class="project-text">
                        <h1 class="col-md-6 col-md-offset-4">{{globalName}}</h1>
                        <h5 class="col-md-6 col-md-offset-4">{{globalAlapealkiri}}</h5>
                        <h3 class="col-md-6 col-md-offset-4">{{globalAasta}}</h3>
                        <p class="col-md-6 col-md-offset-4">{{globalTekst}} </p>
                        <hr class="col-md-6 col-md-offset-4">
                        <button scroll-to-bookmark="contact" ng-click="hideProject()"
                                class="col-md-6 col-md-offset-5 request project-request">{{ 'LANDINGBUTTON1' | translate
                            }}
                            <i class="arrow right"></i></button>
                    </div>
                </div>


            </div>

            <div class="projectOverlay" ng-show="projectViewOverlay">
            </div>
        </div>

    </div>
    <div scroll-bookmark="partners" class="partners">
        <h1 class="col-md-2 col-md-offset-5 center">{{ 'SIDEMENUPARTNERS' | translate }}</h1>
        <div class="partner-item-bg"></div>
        <div class="slickClass" ng-controller="CarouselDemoCtrl">
            <slick
                    infinite="false"
                    slides-to-show="3"
                    slides-to-scroll="3"
            >
                <div class="slick-item slick-overlay" ng-repeat="slide in slides">
                    <a target="_tab" href="{{slide.link}}"><img src="{{slide.image}}"/></a>
                </div>
            </slick>
        </div>

    </div>
    <div scroll-bookmark="contact" class="contact">
        <div id="contact" class="col-md-6 map">

            <div class="col-md-6 col-md-offset-2 gMap">
                <a target="_tab" href="https://goo.gl/maps/fKEFDsCqwfK2">
                    <div class="mapLink text-center">
                        <h4>{{ 'MAPEXTRA' | translate }}</h4>
                    </div>
                </a>
                <div ng-controller="mapCtrl" ng-init="initMap()">
                    <div id="map">
                    </div>
                    <ui-gmap-google-map center='map.center' zoom='map.zoom'></ui-gmap-google-map>
                </div>
            </div>
            <div class="info-box">
                <h4>{{ 'CONTACTPHONE' | translate }}:{{oneArray.PHONE}}</h4>
                <h4>{{ 'CONTACTEMAIL' | translate }}: {{oneArray.MAIL}}</h4>
                <h4>{{ 'CONTACTADDRESS' | translate }}: {{oneArray.ADDRESS}}</h4>

            </div>
            <div class="contact-information">
            </div>
        </div>
        <div class="col-md-6 stuff">
            <div class="contact">
                <div class="col-md-8 col-md-offset-1 small-heading">
                    <h4>{{ 'CONTACTHEAD1' | translate }}</h4>
                </div>
                <div class="col-md-8 col-md-offset-1">
                    <h2>{{ 'CONTACTHEAD2' | translate }}</h2>
                </div>

                <div class="col-md-4 contact-form">
                    <form>
                        <input type="text" name="name" placeholder="{{ 'FORMNAME' | translate }}"/>
                        <input type="email" name="e-mail" placeholder="{{ 'FORMEMAIL' | translate }}"/>
                        <textarea class="col-xs-12" name="text" id="text" rows="3"
                                  placeholder="{{ 'FORMMESSAGE' | translate }}"></textarea>
                        <button class="btn-send col-xs-12">{{ 'LANDINGBUTTON1' | translate }}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="hidden-md hidden-lg jumpFix" ng-controller="demoCtrl">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-xs-12 landingM">
                <div class="col-xs-10 center-block brand" ng-controller="mMenuCtrl">
                    <button ng-click="toggleMmenu()" class="MmenuOpen"><span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span></button>
                </div>
                <div class="wrapper" ng-show="mMenu">
                    <div class="point-side"></div>
                    <div class="widget-2">
                        <div class="lang-nav lang-navM text-center" ng-controller="mingiAsiCtrl">
                            <button ng-click="lang('et')">Et</button>
                            <button ng-click="lang('en')">En</button>
                            <button ng-click="lang('ru')">Ru</button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 landingM banner-blue text-center">
                    <div class="hero-textM" ng-controller="scrollController">
                        <h1>{{oneArray.LANDINGTITLE1}}</h1>
                        <h1 class="yellowM">{{oneArray.LANDINGMESSAGE}}</h1>
                        <h1 class="heading2">{{oneArray.LANDINGTITLE2}}</h1>
                        <a ng-click="gotoTutvustus()">{{ 'LANDINGBUTTON2' | translate }} <i
                                class="arrow right"></i></a>
                    </div>
                </div>


                <nav class="menu box">
                    <ul>
                        <li class="menu_item"><a class="menu_link"></a>
                        </li>
                    </ul>
                </nav>


            </div>
        </div>
    </div>

    <div scroll-bookmark="introductionM" class="container-fluid ">
        <div class="row">
            <div class="col-xs-12 landingM banner-right text-center">
                <div class="row">
                    <h1 class="container-heading">{{ 'SIDEMENUINTRO' | translate }}</h1>
                    <div class="col-xs-6 para">
                        <h1>{{oneArray.INTROSUBHEADING1}}</h1>
                        <p>{{oneArray.INTROSUBTEXT1}}</p>
                    </div>
                    <div class="col-xs-6 para">
                        <h1>{{oneArray.INTROSUBHEADING2}}</h1>
                        <p>{{oneArray.INTROSUBTEXT2}}</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6 para">
                        <h1>{{oneArray.INTROSUBHEADING3}}</h1>
                        <p>{{oneArray.INTROSUBTEXT3}}</p>
                    </div>
                    <div class="col-xs-6 para">
                        <h1>{{oneArray.INTROSUBHEADING4}}</h1>
                        <p>{{oneArray.INTROSUBTEXT4}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid ">
        <div class="row">
            <div class="col-xs-12 landingM banner-right text-center">
                <h1 class="container-heading">{{ 'SIDEMENUCREW' | translate }}</h1>
                <div class="peopleM col-xs-12">
                    <div class="col-xs-12 person">
                        <h1 class="col-xs-12 name-heading">{{oneArray.CREWNAME1}}</h1>
                        <img class="name-picsM" src="img/Char_grey.png">
                        <p class="col-xs-12">{{oneArray.CREWPOS1}}</p>
                        <p class="col-xs-12">{{oneArray.CREWMAIL1}}</p>
                    </div>
                    <div class="col-xs-12 person">
                        <h1 class="col-xs-12 name-heading">{{oneArray.CREWNAME2}}</h1>
                        <img class="name-picsM" src="img/Char_fists.png">
                        <p class="col-xs-12">{{oneArray.CREWPOS1}}</p>
                        <p class="col-xs-12">{{oneArray.CREWMAIL1}}</p>
                    </div>
                    <div class="col-xs-12 person">
                        <h1 class="col-xs-12 name-heading">{{oneArray.CREWNAME3}}</h1>
                        <img class="name-picsM" src="img/dude.png">
                        <p class="col-xs-12">{{oneArray.CREWPOS1}}</p>
                        <p class="col-xs-12">{{oneArray.CREWMAIL1}}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid ">
        <div class="row">
            <div ng-controller="projectController" class="col-xs-12 landingM banner-right text-center">
                <h1 class="container-heading">{{ 'SIDEMENUPROJECTS' | translate }}</h1>
                <div class="slickClassM">
                    <slick
                            infinite="false"
                            slides-to-show="1"
                            slides-to-scroll="1"
                    >

                        <div class="project-informationM" ng-repeat="project in projects">
                            <h1 class="project-font bold">{{projectNameList[$index]}}</h1>
                            <h5 class="project-font">{{projectSubList[$index]}}</h5>
                            <h3 class="project-font">{{projectYearList[$index]}}</h3>
                            <img class="col-xs-12 center-block project-picM" src="{{project.image}}"/>
                            <p class="col-xs-10 center-block">{{projectShortList[$index]}}</p>
                            <hr class="col-md-6 col-md-offset-4">

                        </div>


                    </slick>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid ">
        <div class="row">
            <div class="col-xs-12 landingM partner-bg text-center">
                <div class="row">
                    <h1 class="container-heading">{{ 'SIDEMENUPARTNERS' | translate }}</h1>
                    <div class="slickClassM" ng-controller="CarouselDemoCtrl">
                        <slick
                                infinite="false"
                                slides-to-show="1"
                                slides-to-scroll="1"
                                arrows="false"
                        >
                            <div class="slick-item slick-overlay partner-item" ng-repeat="slide in slides">
                                <a href="{{slide.link}}"><img class="slick-img center-block" src="{{slide.image}}"/></a>
                            </div>
                        </slick>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid ">
        <div class="row">
            <div class="col-xs-12 landingM banner-right text-center">
                <div class="row">
                    <h1 class="container-heading">{{ 'SIDEMENUCONTACT' | translate }}</h1>
                    <div class="info-boxM center-block">
                        <h4>{{ 'CONTACTPHONE' | translate }}: {{oneArray.PHONE}}</h4>
                        <h4>{{ 'CONTACTEMAIL' | translate }}: {{oneArray.MAIL}}</h4>
                        <h4>{{ 'CONTACTADDRESS' | translate }}: {{oneArray.ADDRESS}}</h4>
                    </div>


                    <div class="col-xs-12 contact-formM">
                        <form>
                            <input type="text" name="name" placeholder="{{ 'FORMNAME' | translate }}"/>
                            <input type="email" name="e-mail" placeholder="{{ 'FORMEMAIL' | translate }}"/>
                            <textarea name="text" id="" rows="3"
                                      placeholder="{{ 'FORMMESSAGE' | translate }}"></textarea>
                            <button class="btn-send">{{ 'LANDINGBUTTON1' | translate }}</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
