<div ng-controller="productCtrl">
    <ul style="list-style:none;padding: 0">
        <div class="row" ng-repeat="chunk in array">
            <div>
                <product-element name="vm.name" ng-repeat="item in chunk" style="display:inline-block; margin-right: 20px;">
                    <a ng-click="iwasclicked(item._id)">{{item.name}}</a>
                </product-element>
            </div>
            <div class="row test" style="width: 100%; height: 20px; background:red;">
            </div>
        </div>

    </ul>

</div>
