<div class="container" ng-controller="demoCtrl">
    <h1>Modify project</h1>
    <hr>

    <div class="col-md-6">
        <div class="image-upload"></div>
    </div>
    <div class="col-md-6">
        <div class="lang-nav admin-lang-nav text-center">
            <button ng-click="lang('et')">Et</button>
            <button ng-click="lang('en')">En</button>
            <button ng-click="lang('ru')">Ru</button>
        </div>
        <form>
            Project name:
            <br>
            <!--<input type="text" name="project_name" />-->
            <input type="text" value="projectArray[$index].name" ng-model="projectArray[$index].name" ng-blur="updateFieldContent('name', projectArray.name)">
            <br>
            Project category:
            <br>
            <input type="text" name="project_category" placeholder="ex. Toidupoed"/>
            <br>
            Project years:
            <br>
            <input type="text" name="project_years" placeholder="ex. 2011-2012"/>
            <br>
            Project description:
            <br>
            <textarea rows="4" cols="50" name="projcet_description" placeholder="ex. Loodud erinevatel põhjustel..."></textarea>
        </form>
    </div>
</div>